@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body div.header {
  background-image: url(../img/bg@2x.png);
  background-size: 430px;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 600px;
  font-family: 'Raleway', sans-serif;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.header div.title {
  padding: 30px 40px;
  background-color: rgba(114, 218, 165, 0.1);
  border-radius: 40px;
}

body div.header div.title h2 {
  font-size: 50px;
  line-height: 0.8em;
}

body div.header div.title h1 {
  font-weight: bold;
  font-size: 80px;
}

body div.header div.title div.navBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

body div.header div.title div.navBtn .browseJob {
  margin-right: 20px;
}

body div.header div.title div.navBtn .browseJob a {
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #11b676;
  color: white;
  border: none;
  padding: 6px 20px;
}

body div.header div.title div.navBtn .browseJob a:hover {
  background-color: #0D8758;
}

body div.header div.title div.navBtn .backHome {
  margin-left: 20px;
}

body div.header div.title div.navBtn .backHome a {
  font-size: 24px;
  font-weight: bold;
  border: #0D8758 solid 2px;
  border-radius: 10px;
  background-color: white;
  color: #0D8758;
  padding: 4px 18px;
}

body div.header div.title div.navBtn .backHome a:hover {
  background-color: #0D8758;
  color: white;
}

@media (max-width: 992px) {
  body div.header {
    background-image: url(../img/bgopacity.png);
  }
}

@media (max-width: 576px) {
  body div.header {
    background-image: none;
  }
  body div.header div.title h2 {
    font-size: 25px;
    text-align: center;
  }
  body div.header div.title h1 {
    font-size: 48px;
    text-align: center;
  }
  body div.header div.title div.navBtn {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body div.header div.title div.navBtn div.browseJob {
    padding: 5px 0px;
    width: 100%;
  }
  body div.header div.title div.navBtn div.browseJob a {
    width: 100%;
  }
  body div.header div.title div.navBtn div.backHome {
    padding: 5px 0;
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  body div.header div.title div.navBtn div.backHome a {
    width: 100%;
  }
}

@media (max-width: 350px) {
  body div.header div.title h2 {
    font-size: 20px;
  }
  body div.header div.title h1 {
    font-size: 25px;
  }
  body div.header div.title div.navBtn .browseJob {
    margin-bottom: 5px;
  }
  body div.header div.title div.navBtn .browseJob a {
    font-size: 18px;
  }
  body div.header div.title div.navBtn .backHome {
    margin-top: 5px;
  }
  body div.header div.title div.navBtn .backHome a {
    font-size: 18px;
  }
}

div.content {
  font-family: 'Open Sans', sans-serif;
}

div.content div.filter {
  padding: 20px 40px;
  background-color: #a2e4c3;
  border-radius: 25px;
}

div.content div.filter div.col-sm h3 {
  font-weight: bold;
  color: #404040;
}

div.content div.filter div.col-sm label {
  font-size: 15px;
}

@media (max-width: 576px) {
  div.content div.filter {
    margin: 0 10px;
  }
}

div.container.joblist {
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
}

div.container.joblist div.row {
  -webkit-box-shadow: 0px 5px 5px 5px rgba(77, 77, 77, 0.3);
          box-shadow: 0px 5px 5px 5px rgba(77, 77, 77, 0.3);
  border-radius: 25px;
  padding: 20px 10px;
  margin-bottom: 40px;
  min-height: 150px;
}

div.container.joblist div.row div a.title:hover {
  text-decoration: none;
}

div.container.joblist div.row div a.title h3 {
  font-size: 32px;
  color: #0D8758;
}

div.container.joblist div.row div a.btn-primary {
  display: block;
  width: 100%;
  background-color: #0D8758;
  border: none;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
}

div.container.joblist div.row div a.btn-primary:hover {
  background-color: #09583a;
  -webkit-box-shadow: 0px 5px 5px rgba(77, 77, 77, 0.3);
          box-shadow: 0px 5px 5px rgba(77, 77, 77, 0.3);
}

div.container.joblist div.row div div {
  font-size: 15px;
  position: absolute;
  bottom: 0;
}

div.container.joblist div.row div div span {
  margin-right: 25px;
}

div.container.joblist div.row div div.date {
  right: 0;
}

@media (max-width: 992px) {
  div.container.joblist div.row {
    min-height: 150px;
  }
  div.container.joblist div.row img {
    position: absolute;
    top: 10px;
    left: 0;
  }
  div.container.joblist div.row a.title h3 {
    padding-bottom: 20px;
  }
  div.container.joblist div.row div.desc span {
    display: block;
  }
  div.container.joblist div.row div.date {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 576px) {
  div.container.joblist div.row img {
    display: none;
    top: 30px;
    height: 128px;
  }
  div.container.joblist div.row div.desc {
    right: 0;
  }
  div.container.joblist div.row div.date {
    position: relative;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */