// Variables
$primaryColor: #0D8758;
$secondaryColor: #72DAA5;
$tertiaryColor: #8EF7C1;
$textColor: #404040;

body {

    div.header {
        img {
            height: 128px;
        
        }
    }
}